body {
  font-family: "Raleway";
}
/* container */
.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
/* h3 */
h3 {
  font-size: inherit;
  font-weight: 400;
  margin-top: 50px;
}
/* Desc */
.desc {
  padding: 40px 0 110px 0;
  color: #86878b;
  font-size: 18px;
  text-align: center;
}
/* hr */
hr {
  border: none;
  background-color: #ec7979;
  height: 1.5px;
  width: 180px;
  margin-top: 70px;
}
/* Awesome */
.awesome {
  text-align: center;
  padding-bottom: 40px;
}
.awesome__title {
  font-family: "Raleway";
  font-style: normal;
  font-size: 36px;
  line-height: 42px;
  display: block;
  align-items: center;
  text-align: center;
}
.awesome__item_title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  padding: 75px 0 45px 0;
}
.awesome__text {
  font-size: 18px;
  line-height: 21px;
}
.awesome__row {
  display: flex;
  margin: 0 auto;
}
.awesome__column {
  flex: 0 1 33.333%;
  margin: 0px auto;
}
.awesome__item {
  margin-bottom: -50px;
}
/* pricing */
.pricing {
  text-align: center;
  background: #f5f5f5;
  padding: 50px 0 60px 0;
  padding-bottom: 40px;
}

.pricing__title {
  font-family: "Raleway";
  font-style: normal;
  font-size: 36px;
  line-height: 42px;
  display: block;
  align-items: center;
  text-align: center;
}
.pricing__row {
  display: flex;
  margin: 0 -15px;
  justify-content: space-between;
}
.pricing__column {
  margin: 0 auto;
  display: flex;
}
.pricing__lvl {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  background: #333333;
  color: #ffffff;
  border: 2px solid #f5f5f5;
  padding: 20px 0;
  width: 370px;
  height: 60px;
}
.pricing__price {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 36px;
  background: #333333;
  color: #ffffff;
  border: 2px solid #f5f5f5;
  padding: 30px 0;
}
.pricing__description {
  font-size: 18px;
  background: #333333;
  color: gray;
  border: 2px solid #f5f5f5;
  padding: 17px 0;
}
.pricing__memory p {
  font-size: 18px;
  padding: 17px 0;
  color: #86878b;
  background: #ffffff;
  border: 2px solid #f5f5f5;
}
.pricing__column_up {
  margin: -20px 0 0 0;
  filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}
.pricing__column {
  padding: 0 15px 20px 15px;
}
.pricing__column {
  padding: 0 15 20;
  position: absolute;
  width: 370px;
  height: 510px;
  left: 170px;
  top: 2916px;
}
/* Costumers */
.review {
  text-align: center;
  padding: 50px 0 64px 0;
}

.costumers__title {
  font-family: "Raleway";
  font-style: normal;
  font-size: 36px;
  line-height: 42px;
  display: block;
  align-items: center;
  text-align: center;
}
.review__row {
  display: flex;
}
.review__column {
  flex: 0 1 33.333%;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}
.review__text {
  background: #e2e2e2;
  border-radius: 10px;
  color: #86878b;
  font-size: 18px;
  padding: 37px 0;
  margin: 0 0 66px 0;
  position: relative;
  text-align: center;
}
.review__text::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid #e2e2e2;
  position: absolute;
  left: 15%;
  bottom: -20px;
}
.costumer__name {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  padding-bottom: 30px;
}
