body {
  font-family: "Raleway";
}
.title p {
  padding: 40px 0 110px 0;
  color: #86878b;
  font-size: 18px;
  text-align: center;
}
.title__contact {
  font-family: "Raleway";
  font-style: normal;
  font-size: 36px;
  line-height: 42px;
  display: block;
  align-items: center;
  text-align: center;
}
.title__contact p {
  padding: 40px 0 80px 0;
  color: #86878b;
  font-size: 18px;
  text-align: center;
}
.title {
  font-family: "Raleway";
  font-style: normal;
  font-size: 36px;
  line-height: 42px;
  display: block;
  align-items: center;
  text-align: center;
}
h1 {
  color: white;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  padding-top: 70px;
}
h3 {
  font-size: inherit;
  font-weight: 400;
  margin-top: 50px;
}
.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
hr {
  border: none;
  background-color: #ec7979;
  height: 1.5px;
  width: 180px;
  margin-top: 70px;
}
a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}
/* HEADER */
.header {
  background-color: #000000;
  /* position: relative; */
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin-left: -40px;
}

.header__nav ul {
  display: flex;
}

.header li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 114px;
  height: 75px;
}

/* INTRO */

.intro {
  height: 1026px;
  background-blend-mode: multiply;
  background: rgba(0, 0, 0, 0.5);
  background-image: url(../img/fone2.png);
}
.intro .container {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  padding-top: 300px;
  padding-bottom: 185px;
}

.intro__title {
  display: block;
  width: 670px;
  height: 168px;
  margin-top: 10px;
  margin-bottom: 97px;
}

.intro h1:after {
  content: "";
  display: block;
  align-items: left;
  width: 170px;
  height: 1px;
  background-color: #ffffff;
  margin-top: 55px;
  margin-bottom: 42px;
}

.intro p {
  color: #ffffff;
}

.intro__text {
  width: 270px;
  margin-bottom: 42px;
}

.main__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 25px;
  border: 2px #ffffff solid;
  width: 270px;
  height: 58px;
}
/* FORM INTRO */
.form__title {
  margin-top: 35px;
  margin-bottom: 46px;
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

.form {
  width: 470px;
  height: 450px;
  background-color: white;
  border-radius: 10px;
  position: relative;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
  width: 370px;
  height: 50px;
  display: block;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  outline: none;
  padding-top: 15px;
}

.form span {
  color: #ec7979;
}

.form input[type="text"]::placeholder,
.form input[type="email"]::placeholder,
.form input[type="password"]::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: #bdbdbd;
}
.form input[type="submit"] {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 60px;
  border-radius: 0 0 10px 10px;
  border: none;
  background-color: #ec7979;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

/* SOCIAL Start */
.social {
  background-color: #f8efef;
}
.social p {
  padding-bottom: 18px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #86878b;
}
.social h4 {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  padding-top: 30px;
}
.social__nav-list {
  gap: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
/* TABS */
.tabs h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
}
.tabs p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.tabs {
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
}
.tabs__label {
  text-align: center;
  padding: 10px 73px 10px 73px;
  cursor: pointer;
  color: #333333;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.tabs__radio {
  display: none;
}

.tabs__content {
  order: 1;
  width: 100%;
  display: none;
  border: 1px #c6cbcd solid;
}

.tabs__radio:checked + .tabs__label {
  color: #333333;
  border-top: 1px #c6cbcd solid;
  border-left: 1px #c6cbcd solid;
  border-right: 1px #c6cbcd solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
}
.tabs__radio:checked + .tabs__label + .tabs__content {
  display: initial;
}

.tabs__radio:checked + .tabs__label:after {
  content: "";
  display: block;
  width: 189px;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  bottom: -1px;
  left: 0px;
}

.tabs__content__wrap {
  display: flex;
  column-gap: 30px;
  padding-left: 100px;
}

.tabs__content__wrap h3 {
  padding-top: 41px;
  padding-bottom: 41px;
}

.tabs__text {
  width: 570px;
}
.tabs__text span {
  display: block;
}
.space {
  padding-top: 20px;
}

.tabblock .main__btn {
  background-color: #ec7979;
  margin-top: 27px;
}

.tabblock .main__btn:hover {
  border-color: #ab4949;
  background-color: #ab4949;
  color: #ffffff;
}

.tabblock .main__btn:active {
  background-color: #ec7979;
  border: none;
  color: #ffffff;
  box-shadow: inset 0px 0px 10px #ab4949;
}
/* Awesome */
.awesome {
  text-align: center;
  padding-bottom: 40px;
}
.awesome__item h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  padding: 75px 0 45px 0;
}
.awesome__item p {
  font-size: 18px;
  line-height: 21px;
}
.awesome__row {
  display: flex;
  margin: 0 auto;
}
.awesome__item {
  margin-bottom: -50px;
  flex: 0 1 33.333%;
  margin: 0px auto;
}
/* pricing */
.pricing {
  text-align: center;
  background: #f5f5f5;
  padding: 50px 0 60px 0;
  padding-bottom: 40px;
}
.pricing__row {
  display: flex;
  margin: 0 -15px;
  justify-content: space-between;
}
.pricing__item__lvl {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  background: #333333;
  color: #ffffff;
  border: 2px solid #f5f5f5;
  padding: auto;
  width: 370px;
  height: 60px;
}
.pricing__item h4 {
  text-align: center;
}
.pricing__item__price {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 36px;
  background: #333333;
  color: #ffffff;
  border: 2px solid #f5f5f5;
  padding: 30px 0;
}
.pricing__item__description {
  font-size: 18px;
  background: #333333;
  color: gray;
  border: 2px solid #f5f5f5;
  padding: 17px 0;
}
.pricing__item__memory p {
  font-size: 18px;
  padding: 17px 0;
  color: #86878b;
  background: #ffffff;
  border: 2px solid #f5f5f5;
}
.pricing__item__up {
  margin: -20px 0 0 0;
  filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}

/* Costumers */

.costumers__row {
  display: flex;
  margin: -20px -15px;
  justify-content: space-between;
}
.costumers__text {
  background: #e2e2e2;
  border-radius: 10px;
  color: #86878b;
  font-size: 18px;
  padding: 38px 30px;
  margin: 0 0 66px 0;
  position: relative;
  text-align: center;
}
.costumers__text::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid #e2e2e2;
  position: absolute;
  left: 15%;
  bottom: -20px;
}
.costumer__info__name {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  padding-bottom: 30px;
}
.costumer__person {
  display: flex;
}

.costumer__info p {
  margin-left: 30px;
  white-space: nowrap;
}
.costumer__info__profession {
  margin-bottom: 200px;
}

.stylish {
  height: 442px;
  background-blend-mode: multiply;
  background: rgba(0, 0, 0, 0.5);
  background-image: url(../img/stylishimg.png);
  display: flex;
  position: relative;
}
.title__stylish {
  font-family: "Raleway";
  font-style: normal;
  font-size: 36px;
  line-height: 42px;
  align-items: center;
  text-align: center;
  padding-top: 40px;
  color: white;
}
.title__stylish p {
  padding: 40px 0 110px 0;
  color: #86878b;
  font-size: 18px;
  text-align: center;
  color: white;
}
.title__stylish hr {
  border: none;
  background-color: white;
  height: 1.5px;
  width: 180px;
  margin-top: 70px;
}

.stylish a {
  margin: -72px auto;
}
/* CONTACT US */

.contacts {
  padding-bottom: 50px;
}
.form__contact input[type="text"],
.form__contact input[type="email"],
.form__contact input[type="password"] {
  width: 570px;
  padding: 0;
  height: 51px;
  margin-top: 34px;
  border: none;
  border-bottom: #bdbdbd 1px solid;
  outline: none;
}
.form__contact input[type="text"]:focus,
.form__contact input[type="email"]:focus,
.form__contact input[type="password"]:focus {
  width: 570px;
  border-color: #ec7979;
}

.form__contant__textarea {
  display: flex;
  align-items: flex-end;
}

.textarea {
  width: 570px;
  height: 206px;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  outline: none;
  resize: none;
  overflow: auto;
}

.form__contact {
  width: 100%;
  height: 100%;
  margin-top: 39px;
}

.form__contact__input {
  display: flex;
  column-gap: 30px;
}

.form__contact input[type="submit"] {
  display: block;
  position: relative;
  background-color: #ec7979;
  width: 370px;
  height: 58px;
  border-radius: 0;
  margin: 0 auto;
  margin-top: 50px;
  border: none;
  background-color: #ec7979;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

.form__contact input[type="submit"]:hover {
  background: #ab4949;
  transition-duration: 0.3s;
}

.form__contact input[type="submit"]:active {
  background: #ec7979;
  box-shadow: inset 0px 0px 10px #ab4949;
}

.form__contact textarea:focus {
  width: 570px;
  border-color: #ec7979;
}

.form__contact input[type="text"]::placeholder,
.form__contact input[type="email"]::placeholder,
.form__contact input[type="password"]::placeholder,
.form__contact textarea::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: #bdbdbd;
}

.footer {
  height: 164px;
  background-color: black;
}
.footer__nav-list {
  gap: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 30px;
}
.footer__container {
  display: flex;
  justify-content: center;
}
.year {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-family: "Raleway";
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
  padding-top: 40px;
}
